body{

  background-color: rgb(84, 0, 105);
 color: antiquewhite;
}

.cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho-imagem{
width: 100%;
height: 200px;
padding: 20px;

}

.cabecalho-menu-listaitem{

  display: inline;
  text-transform: uppercase;
  margin: 30px;
}
.sobre{
  display: flex;
  
  }